<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hola Vue</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">

</head>
<body>
<div class="container"><br><br>
    <div class="row">
        <div id="app">
            <div v-if="genero === 'masculino' || genero === 'femenino'">
                <hi>Hola,
                    <!--Renderizar el span si genero es igual a Masculino-->
                    <span v-show="genero === 'masculino'">Sr. {{nombre}}</span>
                    <span v-if="genero === 'femenino'">Sra. {{nombre}}</span>
                </hi>
            </div>
            <h1 v-else>No puedes decidir, Pues bien!</h1>
            <label>Enter your gender:</label>
            <input v-model="genero" class="form-control">
            <label>Enter your name:</label>
            <input v-model="nombre" class="form-control" >
            <pre>
                {{$data}}
            </pre>
        </div>
    </div>

</div>

<script src="../js/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            nombre: 'Universo',
            genero: 'masculino'
        }
    })

</script>
</body>
</html>
